---
import MoviesDebug from "../features/movies/MoviesDebug";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TMDB Debug</title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen">
    <h1 class="text-center text-3xl font-bold mt-4">Debug API TMDB</h1>
    <MoviesDebug client:load />
  </body>
</html>
