---
---
<nav class="bg-white sticky w-full z-20 top-0 start-0 border-b border-gray-200 backdrop-blur-md shadow-sm">
    <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
        <a href="/" class="hover:opacity-50">
            <img src="/public/icon.png" class="h-12" alt="Movies Logo">
        </a>
        <ul class="flex flex-row gap-8 text-black text-2xl font-semibold">
            <a href="/"><li class="hover:opacity-50">Home</li></a>
            <a href="/"><li class="hover:opacity-50">Movies</li></a>
        </ul>
        <div>
            <button class="group relative inline-flex h-10 items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200">
                <span class="text-xl font-light">Log in</span>
                <div class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-12deg)_translateX(-100%)] group-hover:duration-1000 group-hover:[transform:skew(-12deg)_translateX(100%)]">
                    <div class="relative h-full w-8 bg-white/20">
                    </div>
                </div>
            </button>
        </div>
    </div>
</nav>

