---
import MovieDetails from "../../features/movies/components/MovieDetails";

export const prerender = false;

const { id } = Astro.params;
if (!id) throw new Error("Movie id param is required");
---

<html lang="en">
  <head>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>Movie {id}</title>
  </head>
  <body class="bg-gray-100">
    <MovieDetails id={id} client:load />
  </body>
</html>
