---
// src/layouts/MainLayout.astro
import Navbar from "../components/Navbar.tsx";

const { title = "TMDB Movies", bodyClass = "" } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/whiteIcon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class={`bg-black min-h-screen ${bodyClass}`}>
    <Navbar client:load/>
    <main>
      <slot />
    </main>
  </body>
</html>
